
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner new">
        <div class="carousel-item active">
          <img src="" class="img-fluid rounded mx-auto d-block" alt="">
          <div class="carousel-caption">
            <h3><b>Books are a uniquely portable magic.</b></h3>
            <p>Stephen King</p>
          </div>   
        </div>
        <div class="carousel-item new">
          <img src="" class="img-fluid rounded mx-auto d-block" alt="">
          <div class="carousel-caption">
            <h3><b>Reading gives us someplace to go when we have to stay where we are.</b></h3>
            <p>Mason Cooley</p>
          </div>   
        </div>
        <div class="carousel-item new">
          <img src="" class="img-fluid rounded mx-auto d-block" alt="">
          <div class="carousel-caption">
            <h3><b>A book is a dream that you hold in your hand.</b></h3>
            <p>Neil Gaiman</p>
          </div>   
        </div>
      </div>
</div> 