<div class="footer">
  <div class="row">
    <div class="col col-12 col-md-6 f1"><br><br><br>
        <a href="https://www.facebook.com/ictkerala"><i class="fa fa-facebook-official" style="font-size:36px;"></i></a>
        <a href="https://www.instagram.com/ictak_kerala/"><i class="fa fa-instagram" style="font-size:36px;"></i></a>
        <a href="https://twitter.com/ictakerala"><i class="fa fa-twitter" style="font-size:36px;"></i></a>
        <a href="https://plus.google.com/104561462705332107836/posts"><i class="fa fa-google-plus" style="font-size:36px;"></i></a>
        <a href="https://in.linkedin.com/pub/ict-academy-of-kerala/9a/281/3b7"><i class="fa fa-linkedin" style="font-size:36px;"></i></a>
        <a href="https://www.youtube.com/user/ictkerala"><i class="fa fa-youtube" style="font-size:36px;"></i></a>
    </div>
    <div class="col col-12 col-md-6" f2><br><br><br>
        <h6>Copyright 2019 © ICT Academy of Kerala. All Rights Reserved.</h6> 
    </div>
  </div>
  <br><br>
</div>




