<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink="romance">Romance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="selfhelp">Self-help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="thriller">Thriller</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="fantasy">Fantasy</a>
  </li>
</ul>

<div id="mySidenav" class="sidenav">
  <a routerLink="/" id="about">Home</a>
  <a routerLink="romance" id="blog">Books</a>
  <!-- <a routerLink="customers" id="projects">Clients</a>
  <a routerLink="addbooks" id="contact">Add</a> -->
</div>











